<!-- signin.html -->

{% extends 'base.html' %}
{% block content %}

<div class='container p-3'>
    <form action="{% url 'signin' %}" method='POST'>
        {% csrf_token %}
        <input class='form-control' type='text' name='username' placeholder='아이디'/><br/>
        <input class='form-control' type='password' name='password' placeholder='비밀번호'/><br/>
            <input class='form-control' style="color: #ffffff;
                                            background-color: #100e2dd9;
                                            border-color: #100e2dd9;
                                            text-decoration: none;
                                            font-weight: lighter;
                                            padding: 1.5rem 5rem;
                                            border-radius: 10px;" type='submit' value='로그인'/>
    </form>
</div>

{% endblock %}